<section class="about-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <img alt="jungle" src="https://ih1.redbubble.net/image.11629096.1380/flat,1000x1000,075,f.jpg" height="500" width="800">
    <br>
  <body>
    <article class="product">
      <header> 
        <h2>Welcome to the Jungle! </h2>
      </header>
        <br>
      <h5 class="About-us"> 
      Where the possbilities are endless. Explore through the jungle and you'll never know what hidden gems you might find.

      Be sure to check out our range of wonderful treasures for a reasonable price. 

      Jungle is in no association with Amazon. In fact our first store is shown above, where through hard work and graft we have been able to bring you the delightful range of products available to you online. Trust me you will not find these little gems anywhere else.
      </h5> 
    </article>
  </body>
</section>